<!-- home html file -->
{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %} {% if
qr_id %}

<div class="container">
  <form action="{{url_for('home')}}" method="POST">
    <select name="qr_size" id="qr_size">
      <option value="100">100</option>
      <option selected value="250">250</option>
      <option value="400">400</option>
      <option value="500">500</option>
    </select>
    <div class="cont-btn">
      <button
        class="btn btn-outline-primary rounded-pill"
        type="submit"
        value="Submit"
      >
        Resize
      </button>
    </div>
  </form>
  <figure>
    <img
      class="qr_img"
      id="qrcode"
      src="https://chart.googleapis.com/chart?chs={{qrSize}}x{{qrSize}}&cht=qr&chl={{qr_id}}"
    />
    <figcaption>QR for: {{place_name}}</figcaption> 
    Please confirm after scanning the above QR code:
  </figure>
  <div class="cont-btn">
    <p> <a href="/success2">  
      <button
        class="btn btn-outline-primary rounded-pill"
        type="submit"
        value="Submit"
      >
      Confirm
      </button>
    </a> </p>  
  </div>  
</div>
{% endif %} {% if agent_id %}

<h1>Agent's Home Page</h1>

<div class="tableContainer">
  <div class="table">
    <table class="w3-table-all player-list-table">
      <br />
      <br />
      <button>Hospitals</button>
      <br /> 
      <br />
      <form action="/home" method="post">
        <select name="roles" id="roles" required>
          <option value="Name">Name / Adress</option>
          <option value="All">All</option>
        </select>
        : <input type="text" name="search_name" id="search_name" placeholder="Search">
        <br /> <br />
        <button
        class="btn btn-outline-primary rounded-pill"
        type="submit"
        value="Submit"
      >
      Search
      </button>
    </form>  
     <br /> <br />
      <div class="right_end">
        <h5>Number of Visitors: {{count}}</h5>
      </div>
      <div class="table-header">
        <tr>
          {% for heading in headings %}
          <div class="header_item">
            <th>{{heading}}</th>
          </div>
          {% endfor %}
        </tr>
      </div>
      {% for visitor in visitors %}
      <div class="table-row">
        <tr>
          <div class="table-data">
            {% for cell in visitor%} {% if cell == 1 %}
            <td>Positive</td>
            {% elif cell == 0 %}
            <td>Negative</td>
            {% else %}
            <td>{{cell}}</td>
            {% endif %} {% endfor %}
          </div>
        </tr>
      </div>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %} {% if visitor %}

<div class="container">
  <h3>QR Scanner Page</h3>
</div>

{% endif %} {% if hospital %}

<div class="container">
  <h1>Hospital's Home Page</h1>
</div>

{% endif %} {% endblock %}
