{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<br />
<div class="loginPage container card border-dark w-50">
  <div class="card-header">
    <h1>Login Page</h1>
  </div>

  <div class="card-body">
    <form action="{{url_for('login_to_role')}}" method="POST">
      <label for="roles">Choose a Role:</label>
      <select name="roles" id="roles" required>
        <option value="Hospital">Hospital</option>
        <option value="Agent">Agent</option>
      </select>
      <br /><br />
      <div class="cont-btn">
        <button
          class="btn btn-outline-primary rounded-pill"
          type="submit"
          value="Submit"
        >
          Continue to Login
        </button>
      </div>
    </form>
    <br />
    <div class="card-footer">
      <small class="text-muted">Only for Hospitals and Agents</small>
      {% if invalidData %}
      <p>Invalid Credentials! Please Try again</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
