{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<br />
<div class="registerPage container card border-dark w-50">
  <div class="card-header">
    <h1>Registration Page</h1>
  </div>
  <div class="card-body">
    <form action="{{url_for('register_to_role')}}" method="POST">
      <label for="roles">Choose a Role:</label>
      <select name="roles" id="roles" required>
        <option value="Visitor">Visitor</option>
        <option value="Place Owner">Place Owner</option>
        <option value="Hospital">Hospital</option>
      </select>
      <br /><br />
      <div class="cont-btn">
        <button
          class="btn btn-outline-primary rounded-pill"
          type="submit"
          value="Submit"
        >
          Continue to Register
        </button>
      </div>
    </form>
    <br />
    <div class="card-footer">
      <small class="text-muted">Only for Visitors and Place owners</small>
      {% if invalidData %}
      <p>Unable to register! Please Try again.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
