{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<br />
<div class="roleLogin">
  <div class="container card border-dark w-50">
    <div class="card-header">
      <h1>{{selectedRole}}'s Login</h1>
    </div>
    {% if selectedRole=='Hospital' %}
    <form
      name="hospital"
      action="{{url_for('authenticate_data')}}"
      method="POST"
    >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputHospitalUsername4">Username</label>
          <input
            name="hospitalUsername"
            type="text"
            class="form-control"
            id="inputHospitalUsername4"
            placeholder="Username"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputHPass4">Password</label>
          <input
            name="hpass"
            type="password"
            class="form-control"
            id="inputHPass4"
            placeholder="Minimum 8 characters"
            minlength="8"
            required
          />
        </div>
      </div>
      <div class="card-footer cont-btn">
        <button type="submit" class="btn btn-primary rounded-pill">
          Sign-In
        </button>
        </div>
      </form>
  </div>
  {% endif %} {% if selectedRole=='Agent' %}
    <form
      name="hospital"
      action="{{url_for('authenticate_data')}}"
      method="POST"
    >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAgentUsername4">Username</label>
          <input
            name="agentUsername"
            type="text"
            class="form-control"
            id="inputAgentUsername4"
            placeholder="Username"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputapass4">Password</label>
          <input
            name="apass"
            type="password"
            class="form-control"
            id="inputAgentPass4"
            placeholder="Minimum 8 characters"
            minlength="8"
            required
          />
        </div>
      </div>
      <div class="card-footer cont-btn">
      <button type="submit" class="btn btn-primary rounded-pill">
        Sign-In
      </button>
      </div>
    </form>
  </div>

  {% endif %}
</div>

{% endblock %}
